* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Fanii";
  src: url(../Assests/Fanni.ttf) format("truetype");
}

.pc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  z-index: 99999;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

@media screen and (max-width: 750px) {
  .pc-nav {
    display: none;
  }
}

.pc-nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-nav .navbar-nav .nav-item {
  margin-left: 150px;
  position: relative;
}

.pc-nav .navbar-nav .nav-item:hover .line {
  width: 100%;
}

.pc-nav .navbar-nav .nav-item span {
  width: 0%;
  height: 2.5px;
  background-color: #030845;
  position: absolute;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.pc-nav .navbar-nav .nav-item .nav-link {
  cursor: pointer;
  font-family: 'Oswald';
  font-size: 20px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.pc-nav .logo {
  width: 150px;
  margin-right: 6rem;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.75);
}

.navbar .nav-item {
  color: #000;
}

.navbar .nav-item .nav-link {
  color: #000;
}

.navbar .navbar-brand img {
  width: 180px;
  height: auto;
  margin-left: 20px;
}

#mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  #mobile {
    display: block;
  }
}

.banner {
  padding-top: 0px;
}

.banner .mySwiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .mySwiper .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.banner .mySwiper .swiper-wrapper .swiper-slide .slide-1-text {
  position: absolute;
  color: #030845;
  width: 50%;
}

.banner .mySwiper .swiper-wrapper .swiper-slide-active .slide-1-text {
  -webkit-animation: rollIn 1s;
          animation: rollIn 1s;
}

.banner .mouse {
  width: 30px;
  height: 60px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  left: 45%;
  bottom: -30px;
}

.banner .mouse::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .banner .pin-spacer {
    height: 100%;
  }
}

.banner .animated-banner-row .text-col {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald';
  color: #575442;
  text-align: center;
}

.banner .animated-banner-row .text-col .wlecom p {
  color: #030845;
  font-size: 30px;
}

.banner .animated-banner-row .text-col .wlecom .box {
  width: 80%;
  height: 100px;
  border: solid 5px #fb9300;
  border-color: #010025 transparent transparent transparent;
  border-radius: 70%/100px 100px 0 0;
}

.banner .animated-logo-div {
  position: relative;
  top: 100px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.banner .animated-logo-div img {
  position: absolute;
  width: 40%;
  left: 0px;
  top: 0px;
}

.banner .animated-logo-div-left {
  position: relative;
  top: 100px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.banner .animated-logo-div-left img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .banner .right-logo, .banner .left-logo {
    width: 100% !important;
  }
}

.banner .second-message {
  display: none;
}

.banner .third-message {
  display: none;
  width: 55%;
}

.mission-container {
  margin-top: 50px;
  color: #4D9DC9;
}

.mission-container h1 {
  font-weight: 800;
}

.mission-container p {
  color: #030845;
}

.mission-container img {
  margin-left: 50px;
  width: 80%;
}

.mission-container .vision {
  margin-top: 150px;
}

.mission-container .vision h1 {
  text-align: right;
}

.mission-container .vision p {
  text-align: right;
  color: #030845;
}

#services {
  background-color: #2F8AB7;
  padding-top: 100px;
  margin-top: 150px;
  padding-bottom: 150px;
  color: #fff;
}

#services .bi {
  font-size: 150px;
}

#services .title {
  font-family: 'Cairo', sans-serif;
  margin-bottom: 90px;
  font-weight: 700;
}

#services .icons-title {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 1;
  margin-top: 1em;
  font-weight: 600;
}

#about-us h1 {
  font-family: 'Oswald', sans-serif;
  color: #4D9DC9;
  font-size: 90px;
  line-height: 1;
  margin-top: 1em;
  font-weight: 600;
}

#about-us .divider {
  height: 430px;
  width: 2px;
  background-color: #4D9DC9;
  margin-left: 100px;
}

#about-us .about-disc {
  color: #030845;
  font-size: 20px;
  margin-top: 2em;
  text-align: justify;
}

#sublies {
  margin-top: 0px;
}

#sublies img {
  width: 200px;
}

#sublies .row > * {
  padding-right: 0px;
}

#sublies .supplay-img {
  width: 100%;
  height: 100%;
}

#sublies .title {
  font-family: 'Oswald', sans-serif;
  color: #4D9DC9;
  font-size: 70px;
  line-height: 1;
  margin-top: -1em;
  font-weight: 600;
  margin-bottom: 1em;
}

#sublies p {
  color: #030845;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: left;
}

#parallax {
  height: 100vh;
  position: relative;
}

#parallax .clients-logos {
  margin-top: 50px;
  text-align: center;
}

#parallax .clients-logos .row > * {
  margin-bottom: -100px;
}

#parallax .clients-logos h1 {
  font-family: 'Oswald', sans-serif;
  color: #4D9DC9;
  font-size: 70px;
  line-height: 1;
  margin-top: 1em;
  font-weight: 600;
}

#parallax .clients-logos p {
  font-family: 'Oswald', sans-serif;
  color: #030845;
  margin-top: -80px;
}

#parallax .clients-logos img {
  width: 200px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

#projects {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#projects #canvas {
  position: absolute;
}

#projects .project-title {
  font-family: 'Oswald', sans-serif;
  color: #4D9DC9;
  font-size: 70px;
  line-height: 1;
  margin: 1em 0px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

#projects .project-card {
  width: 95%;
  border: #2F8AB7 1px solid;
  border-radius: 25px;
  position: relative;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

#projects .project-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .project-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  position: relative;
}

#projects .project-card .project-text-container {
  height: 150px;
  font-family: 'Oswald';
}

#projects .project-card .project-text-container h3 {
  font-size: 20px;
  color: #030845;
  padding-top: 3px;
}

#projects .project-card .project-text-container p {
  font-size: 17px;
  padding: 5px 3px;
}

#projects .project-buton {
  width: 100%;
  text-align: center;
  padding-bottom: 150px;
}

#projects .see-more-projects {
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #030845;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  font-size: 25px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

#projects .see-more-projects:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: #fff;
  color: #2F8AB7;
  border: #2F8AB7 1px solid;
}

footer {
  height: 40vh;
  background-color: #030845;
  width: 100%;
  color: #fff;
}

footer .copyrihgt {
  color: #acacac;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

#about-us-page {
  height: 100vh;
  background-color: #2F8AB7;
}

#about-us-page .contact-header {
  margin-top: 0;
  padding-top: 130px;
  font-family: 'Oswald';
  color: #fff;
  opacity: 0.5;
  font-size: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#about-us-page .form {
  position: relative;
  left: 20px;
  width: 50%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */